Repository kmcallorum/Json_to_MySql: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        target: 95%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 90%
        threshold: 5%

  precision: 2
  round: down
  range: "70...100"

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

comment:
  layout: "header, diff, flags, components, files, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "backend/tests/"
  - "frontend/tests/"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/node_modules/"
  - "**/*.config.js"
  - "**/*.config.ts"

publishing
  100_PERCENT_ACHIEVED.md
  95_PERCENT_COVERAGE_ACHIEVED.md
  PRESET_FIX_SUMMARY.md
  PROJECT_STRUCTURE.md
  QUICK_FIX.md
  TESTING_AND_DI_COMPLETE.md
  TEST_COVERAGE_ACHIEVED.md
  TEST_COVERAGE_PLAN.md
  TEST_IMPLEMENTATION_COMPLETE.md
  backend/COVERAGE_REPORT.txt
  backend/FINAL_COVERAGE.txt
Due: none

fix(ci): resolve GitHub Actions CI failures
  frontend/jest.config.cjs
  frontend/package.json
  frontend/src/services/api.ts
  frontend/src/tests/components/FilterBuilder.test.tsx
  frontend/src/types.ts
Due: frontend

fix
  frontend/package-lock.json
  frontend/package.json
Due: none

fixing tests
  README.md
  TESTING_AND_DI_COMPLETE.md
  TEST_IMPLEMENTATION_COMPLETE.md
  backend/src/container.ts
  backend/src/routes/analysisRoutes.ts
  backend/src/routes/tableRoutes.ts
  backend/src/services/analysisService.ts
  backend/src/services/tableService.ts
  backend/tests/integration/analysisRoutes.integration.test.ts
  backend/tests/integration/filterRoutes.integration.test.ts
  backend/tests/integration/mappingRoutes.integration.test.ts
  backend/tests/integration/tableRoutes.integration.test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/api.ts
  frontend/src/tests/components/FilterBuilder.test.tsx
  frontend/tests/e2e/complete-flattening-workflow.spec.ts
  frontend/tests/e2e/json-flattener-workflow.spec.ts
Due: backend, frontend

fix to testing
  frontend/dist/assets/index-CMMRQkj6.js
  frontend/dist/index.html
  frontend/src/App.js
  frontend/src/App.tsx
  frontend/src/components/Button.js
  frontend/src/components/Button.test.js
  frontend/src/components/Example.test.js
  frontend/src/components/TextField.js
  frontend/src/components/TextField.test.js
  frontend/src/components/__tests__/Form.integration.test.js
  frontend/src/components/analysis/AnalysisResults.js
  frontend/src/components/analysis/JsonAnalyzerComponent.js
  frontend/src/components/filters/FilterBuilder.js
  frontend/src/components/filters/FilterPresets.js
  frontend/src/components/mapping/DragDropMapper.js
  frontend/src/components/mapping/RelationshipEditor.js
  frontend/src/components/mapping/SaveLoadConfig.js
  frontend/src/components/mapping/SqlGenerator.js
  frontend/src/components/mapping/TableSelector.js
  frontend/src/main.js
  frontend/src/services/api.js
  frontend/src/services/api.ts
  frontend/src/tests/App.test.js
  frontend/src/tests/components/FilterBuilder.test.js
  frontend/src/tests/components/FilterBuilder.test.tsx
  frontend/src/tests/components/FilterPresets.test.js
  frontend/src/tests/components/JsonAnalyzerComponent.test.js
  frontend/src/tests/components/SaveLoadConfig.test.js
  frontend/src/types.js
  frontend/src/types/index.js
  frontend/src/utils/jsonAnalyzer.js
  frontend/src/utils/jsonAnalyzer.ts
  frontend/tests/e2e/complete-flattening-workflow.spec.js
  frontend/tests/e2e/complete-flattening-workflow.spec.ts
  frontend/tests/e2e/example.spec.js
  frontend/tests/e2e/json-flattener-workflow.spec.js
  frontend/tests/fixtures/fields.js
  frontend/tests/mocks/handlers.js
  frontend/tests/mocks/server.js
  frontend/tests/setup.js
Due: frontend

playwright hung on ghaction disabled for now
  frontend/playwright.config.ts
  frontend/test-results/.last-run.json
  frontend/tests/e2e/complete-flattening-workflow.spec.ts
  frontend/tests/e2e/json-flattener-workflow.spec.ts
Due: none

ghaction testing fix
  frontend/package-lock.json
  frontend/package.json
  frontend/test-results/.last-run.json
  frontend/test-results/complete-flattening-workfl-1bc67-es-are-clear-and-actionable-chromium/error-context.md
  frontend/test-results/complete-flattening-workfl-1bc67-es-are-clear-and-actionable-chromium/test-failed-1.png
  frontend/test-results/complete-flattening-workfl-9d9b3-THEN-they-can-load-it-later-chromium/error-context.md
  frontend/test-results/complete-flattening-workfl-9d9b3-THEN-they-can-load-it-later-chromium/test-failed-1.png
  frontend/test-results/complete-flattening-workfl-b8be4-ute-flattening-successfully-chromium/error-context.md
  frontend/test-results/complete-flattening-workfl-b8be4-ute-flattening-successfully-chromium/test-failed-1.png
  frontend/test-results/complete-flattening-workfl-c01a5-N-they-can-reuse-the-filter-chromium/error-context.md
  frontend/test-results/complete-flattening-workfl-c01a5-N-they-can-reuse-the-filter-chromium/test-failed-1.png
  frontend/test-results/complete-flattening-workfl-cf252--keys-are-created-correctly-chromium/error-context.md
  frontend/test-results/complete-flattening-workfl-cf252--keys-are-created-correctly-chromium/test-failed-1.png
  frontend/test-results/json-flattener-workflow-JS-176bf--when-filters-are-available-chromium/error-context.md
  frontend/test-results/json-flattener-workflow-JS-176bf--when-filters-are-available-chromium/test-failed-1.png
  frontend/test-results/json-flattener-workflow-JS-3401f-nnection-failure-gracefully-chromium/error-context.md
  frontend/test-results/json-flattener-workflow-JS-3401f-nnection-failure-gracefully-chromium/test-failed-1.png
  frontend/test-results/json-flattener-workflow-JS-ef0f7-ll-data-flattening-workflow-chromium/error-context.md
  frontend/test-results/json-flattener-workflow-JS-ef0f7-ll-data-flattening-workflow-chromium/test-failed-1.png
Due: none

adding codecov.yml ghaction
  codecov.yml
Due: none

Fix for codecov sync
  .github/workflows/ci.yml
Due: none

updated
  README.md
Due: none

increase coverage
  backend/tests/unit/services/analysisService.test.ts
  backend/tests/unit/services/tableService.test.ts
  frontend/tests/unit/services/api.test.ts
  frontend/tests/unit/utils/jsonAnalyzer.test.ts
Due: none

fixes to ghaction
  frontend/tests/e2e/complete-flattening-workflow.spec.js
  frontend/tests/e2e/json-flattener-workflow.spec.js
  frontend/tests/unit/services/api.test.js
  frontend/tests/unit/services/api.test.ts
  frontend/tests/unit/utils/jsonAnalyzer.test.js
Due: none

increasing coverage
  frontend/tests/unit/components/DragDropMapper.test.tsx
  frontend/tests/unit/components/RelationshipEditor.test.tsx
  frontend/tests/unit/components/SqlGenerator.test.tsx
  frontend/tests/unit/components/TableSelector.test.tsx
Due: none

ghaction fixes for coverage testing
  frontend/tests/unit/components/DragDropMapper.test.js
  frontend/tests/unit/components/DragDropMapper.test.tsx
  frontend/tests/unit/components/RelationshipEditor.test.js
  frontend/tests/unit/components/RelationshipEditor.test.tsx
  frontend/tests/unit/components/SqlGenerator.test.js
  frontend/tests/unit/components/SqlGenerator.test.tsx
  frontend/tests/unit/components/TableSelector.test.js
  frontend/tests/unit/components/TableSelector.test.tsx
  frontend/tsconfig.json
Due: none

coverage fixes
  frontend/src/tests/App.test.tsx
  frontend/src/tests/components/FilterBuilder.test.tsx
  frontend/src/tests/components/FilterPresets.test.tsx
  frontend/src/tests/components/JsonAnalyzerComponent.test.tsx
  frontend/src/tests/components/SaveLoadConfig.test.tsx
  frontend/tests/unit/components/AnalysisResults.test.tsx
  frontend/tests/unit/components/TableSelector.test.tsx
Due: none

Fixes
  backend/src/container.ts
  backend/src/index.ts
  backend/src/services/analysisService.ts
  backend/src/services/executionService.ts
  backend/src/services/filterPresetService.ts
  backend/src/services/mappingConfigService.ts
  backend/src/services/tableService.ts
Due: backend

analysis looping
  backend/src/routes/analysisRoutes.ts
  backend/src/services/analysisService.ts
Due: backend

logging for a production slowdown
  backend/src/services/analysisService.ts
Due: backend

analyzing why the button causes a loop
  backend/src/database/connection.ts
  backend/src/services/analysisService.ts
Due: backend

special insert that inserts id and not autoincrement... Code added.
  backend/src/services/executionService.ts
Due: backend

logs changed
  backend/src/services/analysisService.ts
Due: backend

trying to solve the analyze issue
  backend/src/services/analysisService.ts
Due: backend

for Claude
  backend/src/services/analysisService.ts
Due: backend

change in analysis
  backend/src/services/analysisService.ts
  crosscheck/README.md
  crosscheck/daily_run.sh
  crosscheck/migrate.py
  crosscheck/migration_flow.png
  crosscheck/requirements.txt
Due: backend

adding staging
  backend/src/index.ts
  backend/src/routes/stagingRoutes.ts
  backend/src/services/stagingService.ts
  frontend/dist/assets/index-CMMRQkj6.js
  frontend/dist/assets/index-Dqbn7OU5.js
  frontend/dist/index.html
  frontend/src/App.js
  frontend/src/App.tsx
  frontend/src/components/mapping/SqlGenerator.js
  frontend/src/components/mapping/SqlGenerator.tsx
  frontend/src/components/staging/StagingWorkflow.js
  frontend/src/components/staging/StagingWorkflow.tsx
  frontend/src/services/api.js
  frontend/src/services/api.ts
Due: backend, frontend

code for staging the newly flattened data.
  frontend/dist/assets/index-BdlWNPOW.js
  frontend/dist/assets/index-Dqbn7OU5.js
  frontend/dist/index.html
  frontend/src/App.js
  frontend/src/App.tsx
  frontend/src/components/staging/StagingColumnMapper.js
  frontend/src/components/staging/StagingColumnMapper.tsx
  frontend/src/components/staging/StagingRelationshipEditor.js
  frontend/src/components/staging/StagingRelationshipEditor.tsx
  frontend/src/components/staging/StagingTableSelector.js
  frontend/src/components/staging/StagingTableSelector.tsx
  frontend/src/components/staging/StagingWorkflow.js
  frontend/src/components/staging/StagingWorkflow.tsx
Due: frontend

fixing staging process logic
  frontend/dist/assets/index-7G0NnETH.js
  frontend/dist/assets/index-BdlWNPOW.js
  frontend/dist/index.html
  frontend/src/components/staging/StagingTableSelector.js
  frontend/src/components/staging/StagingTableSelector.tsx
Due: frontend

staging changes
  backend/src/routes/stagingRoutes.ts
  backend/src/services/stagingService.ts
  frontend/dist/assets/index-7G0NnETH.js
  frontend/dist/assets/index-BI6o3LQT.js
  frontend/dist/index.html
  frontend/src/components/staging/StagingColumnMapper.tsx
  frontend/src/components/staging/StagingWorkflow.js
  frontend/src/components/staging/StagingWorkflow.tsx
  frontend/src/services/api.ts
Due: backend, frontend

staging table logic
  frontend/dist/assets/index-4KhxIPra.js
  frontend/dist/assets/index-BI6o3LQT.js
  frontend/dist/index.html
  frontend/src/components/staging/StagingColumnMapper.js
  frontend/src/components/staging/StagingWorkflow.js
  frontend/src/components/staging/StagingWorkflow.tsx
Due: frontend

staging logic
  backend/src/services/stagingService.ts
  frontend/dist/assets/index-4KhxIPra.js
  frontend/dist/assets/index-CBqzmO5f.js
  frontend/dist/index.html
  frontend/src/components/staging/StagingWorkflow.js
  frontend/src/components/staging/StagingWorkflow.tsx
Due: backend, frontend

staging logic...
  backend/run-daily-etl-v2.js
  backend/run-staging.js
  backend/src/routes/stagingRoutes.ts
  backend/src/services/stagingConfigService.ts
Due: backend

adjusting staging logic
  .gitignore
  frontend/dist/assets/index-CBqzmO5f.js
  frontend/dist/assets/index-CbRHQzBP.js
  frontend/dist/index.html
  frontend/src/components/staging/StagingSaveLoadConfig.js
  frontend/src/components/staging/StagingSaveLoadConfig.tsx
  frontend/src/components/staging/StagingWorkflow.js
  frontend/src/components/staging/StagingWorkflow.tsx
  frontend/src/services/api.js
  frontend/src/services/api.ts
  gen_data.py
  mock_es_records.json
Due: frontend

Fix unit tests for analysisService WHERE clause handling
  backend/src/services/analysisService.ts
  backend/tests/unit/services/analysisService.test.ts
Due: backend

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: resolve security vulnerabilities (dependabot + CodeQL)
  .github/workflows/ci.yml
  .github/workflows/test.yml
  backend/src/container.ts
  package-lock.json
  package.json
Due: backend

fix: crosscheck/requirements.txt to reduce vulnerabilities
  crosscheck/requirements.txt
Due: none
